body {
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #333;
    margin: 0;
    padding: 0;
}
.intro-section {
    text-align: center;
    padding: 5px 5px;
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.intro-title {
    font-size: 2.5em;
    color: black; 
    margin: 10px 0;
}
.profile-photo {
    width: 250px;
    height: 350px;
    border-radius: 50%;
    margin: 20px 0;
}
.section-achievements {
    width: 100vw;
    min-height: 100vh;
    background-color: lightgray; 
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-container {
    max-width: 1440px; 
    width: 90%;
    margin: 0 auto;
}
.achievements-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}
.achievement-cards {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    gap: 20px;
}
.achievement-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 22%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}
.achievement-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.achievement-card img, .achievement-card video {
    max-width: 100%;
    height: 300px;
    border-radius: 4px;
}
.achievement-card h3 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #333;
}
.achievement-card p {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .achievement-cards {
        flex-direction: column; 
        align-items: center;
    }
    .achievement-card {
        width: 90%;
        margin-bottom: 20px;
    }
}
